<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/north</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<mapping class="tw.brad.h2.entity.Customer"></mapping>
		<mapping class="tw.brad.h2.entity.Employee"></mapping>
		<mapping class="tw.brad.h2.entity.Order"></mapping>
		<mapping class="tw.brad.h2.entity.OrderDetail"></mapping>
		<mapping class="tw.brad.h2.entity.Product"></mapping>
		
		

	</session-factory>
</hibernate-configuration>